# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel
_save/ezgif-frame-055.png
_save/ezgif-frame-056.png
_save/ezgif-frame-057.png
_save/ezgif-frame-058.png
_save/ezgif-frame-059.png
_save/ezgif-frame-060.png
_save/ezgif-frame-061.png
_save/ezgif-frame-062.png
_save/ezgif-frame-063.png
_save/ezgif-frame-064.png
_save/ezgif-frame-065.png
_save/ezgif-frame-066.png
_save/ezgif-frame-067.png
_save/ezgif-frame-068.png
_save/ezgif-frame-069.png
_save/ezgif-frame-070.png
_save/ezgif-frame-071.png
_save/ezgif-frame-072.png
_save/ezgif-frame-073.png
_save/ezgif-frame-074.png
_save/ezgif-frame-075.png
_save/ezgif-frame-076.png
_save/ezgif-frame-077.png
_save/ezgif-frame-078.png
_save/ezgif-frame-079.png
_save/ezgif-frame-080.png
_save/ezgif-frame-081.png
_save/ezgif-frame-082.png
_save/ezgif-frame-083.png
_save/ezgif-frame-084.png
_save/ezgif-frame-085.png
_save/ezgif-frame-086.png
_save/ezgif-frame-087.png
_save/ezgif-frame-088.png
_save/ezgif-frame-089.png
_save/ezgif-frame-090.png
_save/ezgif-frame-091.png
_save/ezgif-frame-092.png
_save/yarn.lock
_save/split/ezgif-frame-001.png
_save/split/ezgif-frame-002.png
_save/split/ezgif-frame-003.png
_save/split/ezgif-frame-004.png
_save/split/ezgif-frame-005.png
_save/split/ezgif-frame-006.png
_save/split/ezgif-frame-007.png
_save/split/ezgif-frame-008.png
_save/split/ezgif-frame-009.png
_save/split/ezgif-frame-010.png
_save/split/ezgif-frame-011.png
_save/split/ezgif-frame-012.png
_save/split/ezgif-frame-013.png
_save/split/ezgif-frame-014.png
_save/split/ezgif-frame-015.png
_save/split/ezgif-frame-016.png
_save/split/ezgif-frame-017.png
_save/split/ezgif-frame-018.png
_save/split/ezgif-frame-019.png
_save/split/ezgif-frame-020.png
_save/split/ezgif-frame-021.png
_save/split/ezgif-frame-022.png
_save/split/ezgif-frame-023.png
_save/split/ezgif-frame-024.png
_save/split/ezgif-frame-025.png
_save/split/ezgif-frame-026.png
_save/split/ezgif-frame-027.png
_save/split/ezgif-frame-028.png
_save/split/ezgif-frame-029.png
_save/split/ezgif-frame-030.png
_save/split/ezgif-frame-031.png
_save/split/ezgif-frame-032.png
_save/split/ezgif-frame-033.png
_save/split/ezgif-frame-034.png
_save/split/ezgif-frame-035.png
_save/split/ezgif-frame-036.png
_save/split/ezgif-frame-037.png
_save/split/ezgif-frame-038.png
_save/split/ezgif-frame-039.png
_save/split/ezgif-frame-040.png
_save/split/ezgif-frame-041.png
_save/split/ezgif-frame-042.png
_save/split/ezgif-frame-043.png
_save/split/ezgif-frame-044.png
_save/split/ezgif-frame-045.png
_save/split/ezgif-frame-046.png
_save/split/ezgif-frame-047.png
_save/split/ezgif-frame-048.png
_save/split/ezgif-frame-049.png
_save/split/ezgif-frame-050.png
_save/split/ezgif-frame-051.png
_save/split/ezgif-frame-052.png
_save/split/ezgif-frame-053.png
_save/split/ezgif-frame-054.png
_save/split/ezgif-frame-055.png
_save/split/ezgif-frame-056.png
_save/split/ezgif-frame-057.png
_save/split/ezgif-frame-058.png
_save/split/ezgif-frame-059.png
_save/split/ezgif-frame-060.png
_save/split/ezgif-frame-061.png
_save/split/ezgif-frame-062.png
_save/split/ezgif-frame-063.png
_save/split/ezgif-frame-064.png
_save/split/ezgif-frame-065.png
_save/split/ezgif-frame-066.png
_save/split/ezgif-frame-067.png
_save/split/ezgif-frame-068.png
_save/split/ezgif-frame-069.png
_save/split/ezgif-frame-070.png
_save/split/ezgif-frame-071.png
_save/split/ezgif-frame-072.png
_save/split/ezgif-frame-073.png
_save/split/ezgif-frame-074.png
_save/split/ezgif-frame-075.png
_save/split/ezgif-frame-076.png
_save/split/ezgif-frame-077.png
_save/split/ezgif-frame-078.png
_save/split/ezgif-frame-079.png
_save/split/ezgif-frame-080.png
_save/split/ezgif-frame-081.png
_save/split/ezgif-frame-082.png
_save/split/ezgif-frame-083.png
_save/split/ezgif-frame-084.png
_save/split/ezgif-frame-085.png
_save/split/ezgif-frame-086.png
_save/split/ezgif-frame-087.png
_save/split/ezgif-frame-088.png
_save/split/ezgif-frame-089.png
_save/split/ezgif-frame-090.png
_save/split/ezgif-frame-091.png
_save/split/ezgif-frame-092.png
