

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}






canvas {

  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  object-position: 50% 50%;

}

section {
  
  height: 100vh;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    max-height: 50%;
    object-fit: cover;
    object-position: 50% 50%;
  }
  h1 {
    font-size: 15vh;
    font-weight: 700;
    margin: 1rem 0;
    margin-top: -8vh;
    font-family: 'IBM Plex Sans Condensed'; 
  }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    width: 30%;
    font-size: 3vh;
    padding: 2.5%;
    text-align: justify;
  }
  img {
    width: 70%;
    object-fit: contain;
    object-position: 50% 50%;
  }
}


.scene {
  h2 {
    font-size: 10vh;
    font-weight: 700;
    margin: 1.2rem;
    padding: 0;
    margin-top: -6vh;
    text-align: right;
    font-family: 'IBM Plex Sans Condensed';   
  }
  div{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  p {
    font-size: 3vh;
    text-align: justify;
    width: calc(50% - 4rem);
  }
}}

.job-options {
  display: flex;
  div {
    max-height: 100vh;
    width: 40%;
    overflow-y: hidden;
    img {
      
      max-width: 100%;
      object-fit: contain;
    }
  }
  p {
    width: 50%;
    font-size: 3vh;
    padding: 2.5%;
    text-align: justify;
  }
}

.impact {
  display: flex;
  justify-content: space-between;
  div {
    width: 40%;
    h2 {
      font-size: 10vh;
      font-weight: 700;
      padding: 10%;
      text-align: left;
      font-family: 'IBM Plex Sans Condensed';   
    }
    p {
      padding-left: 10%;
      padding-right: 10%;
      font-size: 3vh;
      text-align: justify;
    }
  }
   
  img {
    width: 50%;
    object-fit: contain;
    object-position: 50% 50%;
  }
  
}